article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}
html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
label,
textarea,
p {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
body {
  font: 400 14px/1.5 Arial;
}
a {
  text-decoration: none;
  color: #666;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  vertical-align: middle;
  outline: 0;
  -webkit-appearance: none;
  -webkit-user-select: text;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9e9e9e;
}
select {
  outline: 0;
}
textarea {
  font-size: 15px;
  border: 1px solid #d7d7d7;
  outline: none;
  -webkit-user-select: text;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-user-select: none;
  /* Prevent copy paste for all elements except text fields */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* set highlight color for user interaction */
  -webkit-touch-callout: none;
  /* prevent the popup menu on any links*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #999999;
  background-color: #eeeeee;
  overflow-x: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
}
#screen-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 320px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#views {
  -webkit-box-flex: 1;
  box-flex: 1;
  flex: 1;
  background: inherit;
  color: inherit;
  overflow: hidden;
}
#views .scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
}
#views .scroll-wrap .scroll-inner {
  background: #ffffff;
}
#views img {
  background-color: transparent;
}
.no-content {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  background: transparent url("../img/empty-tip.png") center 0 no-repeat;
  background-size: 48px auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.no-content p {
  margin-top: 80px;
  text-align: center;
  font-size: 11px;
  color: #bababa;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.r3 {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.r50 {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.none {
  display: none!important;
}
.userselect {
  -webkit-user-select: text;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}
.flex-col-box {
  display: -webkit-box;
}
.flex-col-box .flex-col {
  -webkit-box-flex: 1;
}


.icon {
  display: inline-block;
  content: "";
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  background-size: 15px auto;
}
.icon-chevron-right {
  width: 6px;
  height: 9px;
  background-position: 0 0;
}
.icon-eye {
  width: 13px;
  height: 11px;
  background-position: 0 -15px;
}
.icon-comment {
  width: 12px;
  height: 12px;
  background-position: 0 -30px;
}
.icon-thumb {
  width: 12px;
  height: 12px;
  background-position: 0 -45px;
}
.icon-thumb-red {
  background-position: 0 -60px;
}
.icon-hot {
  width: 12px;
  height: 13px;
  background-position: 0 -75px;
}
.icon-clock {
  width: 13px;
  height: 14px;
  background-position: 0 -90px;
}
.btn {
  display: inline-block;
  text-align: center;
  font-size: 12px;
}
.btn-follow {
  width: 45px;
  height: 25px;
  line-height: 25px;
  color: #f34943;
  border: 1px solid #f34943;
}
.btn-unfollow {
  width: 45px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #e2e2e2;
}


.pull-down,
.pull-up {
  height: 45px;
  padding: 10px;
  text-align: center;
  background: #eeeeee;
}
.pull-down .pull-down-icon,
.pull-up .pull-up-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
.pull-down .pull-down-icon {
  background: url(../img/pull-icon.png) 0 0 no-repeat;
  background-size: 25px auto;
  -webkit-transform: rotate(0deg) translateZ(0);
}
.pull-up .pull-up-icon {
  display: none;
  -webkit-transform: rotate(-180deg) translateZ(0);
}
.pull-down.flip .pull-down-icon {
  -webkit-transform: rotate(180deg) translateZ(0);
}
.pull-up.flip .pull-up-icon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
.pull-up .pull-up-label {
  font-size: 12px;
  line-height: 25px;
  vertical-align: middle;
}
.pull-down.loading .pull-down-icon,
.pull-up.loading .pull-up-icon {
  background-position: 0 0;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.pull-up.loading .pull-up-icon {
  display: inline-block;
  background: url(../img/pull-icon.png) 0 0 no-repeat;
  background-size: 25px auto;
  background-position: 0 100%;
}
.pull-up.loading .pull-up-label {
  display: none;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fadeIn .8s ease both 0s;
  animation: fadeIn .8s ease both 0s;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation: fadeOut .8s ease both 0s;
  animation: fadeOut .8s ease both 0s;
}

.timeline {
  min-height: 500px;
}
.tit {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  color: #bbbbbb;
  font-size: 12px;
  border-bottom: 1px solid #e5e5e5;
}
.tit .icon {
  float: right;
  margin-top: 7px;
}
.author {
  position: relative;
  min-height: 64px;
  padding: 12px 10px;
  border-bottom: 1px solid #e5e5e5;
}
.author .avatar {
  width: 38px;
  height: 38px;
  background: url('../img/avatar.png') 0 0 no-repeat;
  background-size: contain;
}
.author .info {
  margin: 0 80px 0 48px;
}
.author .uname {
  font-size: 14px;
  color: #000000;
}
.author .tag {
  width: 56px;
  margin-left: 8px;
}
.author .intro {
  color: #999999;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.author .time,
.author .btn {
  position: absolute;
  right: 10px;
}
.author .time {
  top: 38%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: 100% 50%;
}
.author .time .icon {
  margin-right: 3px;
  vertical-align: middle;
}
.author .time span {
  font-size: 12px;
  color: #999999;
}
.author .btn {
  top: 32%;
  z-index: 9;
}
.feed-item {
  padding-bottom: 18px;
  background: #fff;
  -webkit-transform: translateZ(0);
}
.feed-item .feed-bd .pic {
  margin: 0;
  padding: 0;
  background: url('../img/loading-big.png') 40% 40% no-repeat;
  background-size: 320px auto;
}
.feed-item .feed-bd .pic img {
  width: 100%;
}
.feed-item .feed-bd .pic p {
  padding: 8px 10px;
  line-height: 18px;
  color: #000000;
}
.feed-item .feed-bd .pic a {
  color: #000000;
}
.feed-item .feed-bd .interaction {
  padding: 0 10px;
  font-size: 12px;
}
.feed-item .feed-bd .interaction span {
  display: inline-block;
  margin-right: 10px;
}
.feed-item .feed-bd .interaction .icon {
  margin-right: 4px;
  vertical-align: middle;
}
.feed-item .feed-bd .praise-list {
  padding: 10px;
}
.feed-item .feed-bd .praise-list li {
  display: inline-block;
  margin-right: 2px;
  vertical-align: top;
}
.feed-item .feed-bd .praise-list li img {
  width: 32px;
  height: 32px;
  border: 1px solid #e7e7e7;
  background: url('../img/avatar.png') 0 0 no-repeat;
  background-size: contain;
}
.feed-item .feed-bd .praise-list .btn-praise,
.feed-item .feed-bd .praise-list .btn-praised {
  width: 32px;
  height: 32px;
  border: 1px solid #e7e7e7;
  text-align: center;
}
.feed-item .feed-bd .praise-list .btn-praise span,
.feed-item .feed-bd .praise-list .btn-praised span {
  display: block;
  margin-top: -8px;
  font-size: 12px;
  text-align: center;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.feed-item .feed-bd .praise-list .btn-praised {
  border: 1px solid #f34943;
}
.feed-item .feed-bd .praise-list .btn-praised .icon-thumb {
  background-position: 0 -60px;
}
.feed-item .feed-bd .praise-list .btn-praised span {
  color: #f34943;
}
